@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  text-decoration: none;
}

table , td, th{
  border:1px solid #cfcdcd;
  border-collapse: collapse;
}

table{
  border-radius: 5px;;
}
td, th{
  padding : 5px;
  background : rgb(238, 238, 238);
}


td{
  text-align:center ;
  font-size:10px;
}




::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}